
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 28px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  
}

.home{
  background: linear-gradient(to bottom, #ffffff, #b5b5bd);
}

